<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.appdevper.mediaplayer"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".app.AppMediaPlayer"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContentActivity"
            android:configChanges="keyboardHidden"
            android:label="Media Server"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ImageActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".activity.RenderListActivity"
            android:configChanges="keyboardHidden"
            android:label="Media Renderer"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PlayListsActivity"
            android:configChanges="keyboardHidden"
            android:label="Playlist"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SettingPreferenceActivity"
            android:configChanges="keyboardHidden"
            android:label="Settings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SelectMediaActivity"
            android:configChanges="keyboardHidden"
            android:label="SelectMedia"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FullScreenPlayerActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name=".app.ServerNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="APPSERVER_STARTED"/>
                <action android:name="APPSERVER_STOPPED"/>
            </intent-filter>
        </receiver>

        <service android:name=".app.FindUpnpService"/>
        <service
            android:name=".app.MusicService"
            android:exported="true"
            tools:ignore="ExportedService">
        </service>

        <service
            android:name="com.google.android.libraries.cast.companionlibrary.cast.reconnection.ReconnectionService"/>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>